.navicon {
    max-height: 22px !important;
}

body {
    padding-top: 65px !important;
}

.img-maquina {
    width: 300px;
    height: 300px;
}

.lugar div[class^="row"] {
    margin-bottom: 5px;
}

.center {
    display: table !important;
    margin: 0 auto !important;
}

img.imageIndex {
    width: 300px;
    height: 200px;
}
